*{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.numButton{
    background: whitesmoke;
    border: 1px solid lightgray;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px lightgray;
}

.numButton:hover{
    background: lightgray;
}

span {
    text-align: center;
    cursor: default;
}



.operationButton{
    background: gainsboro;
    border: 1px solid lightgray;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px lightgray;

}

.operationButton:hover{
    background: lightgray;
}
